{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.clitch.life/v1/"
        }
    ],
    "info": {
        "description": "Clitch API server",
        "version": "1.0.0",
        "title": "Clitch API server",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "email": "dev@clitch.life"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "tags": [
        {
            "name": "Profile",
            "description": "All API calls related to the profile object"
        }
    ],
    "paths": {
        "/profile/{id}": {
            "get": {
                "tags": ["Profile"],
                "summary": "Returns a profile by id",
                "description": "",
                "operationId": "getProfile",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The first data of the profile that should be returned",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Profile"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/profile/new": {
            "post": {
                "tags": ["Profile"],
                "summary": "Adds a new profile to the server with the given information in the body",
                "description": "",
                "parameters": [],
                "operationId": "createNewProfile",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "name": {
                                            "type": "string"
                                        },
                                        "discordId": {
                                            "type": "string"
                                        },
                                        "homePageUrl": {
                                            "type": "string"
                                        },
                                        "activeTimeStart": {
                                            "type": "integer"
                                        },
                                        "activeTimeEnd": {
                                            "type": "integer"
                                        },
                                        "activeWeekDay": {
                                            "type": "string"
                                        },
                                        "mainGame": {
                                            "type": "string"
                                        },
                                        "profileDescription": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Profile"
                            }
                        }
                    },
                    "description": "The profile information that you want to add"
                }
            }
        },
        "/post/{id}": {
            "get": {
                "tags": ["Post"],
                "summary": "Returns a post by id",
                "description": "",
                "operationId": "getPost",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The first data of the post that should be returned",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Post"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/post/new": {
            "post": {
                "tags": ["Post"],
                "summary": "Adds a new post to the server with the given information in the body",
                "description": "",
                "parameters": [],
                "operationId": "createNewPost",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "postContent": {
                                            "type": "string"
                                        },
                                        "image": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Post"
                            }
                        }
                    },
                    "description": "The post information that you want to add"
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Profile": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "discordId": {
                        "type": "string"
                    },
                    "homePageUrl": {
                        "type": "string"
                    },
                    "activeTimeStart": {
                        "type": "integer"
                    },
                    "activeTimeEnd": {
                        "type": "integer"
                    },
                    "activeWeekDay": {
                        "type": "string",
                        "enum": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
                    },
                    "mainGame": {
                        "type": "string"
                    },
                    "profileDescription": {
                        "type": "string"
                    },
                    "rank": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string"
                    }
                }
            },
            "PersonalInfo": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "profileId": {
                        "type": "string"
                    },
                    "requestFlag": {
                        "type": "boolean"
                    },
                    "userExp": {
                        "type": "integer"
                    },
                    "mainPostId": {
                        "type": "integer"
                    },
                    "twitterUuid": {
                        "type": "string"
                    },
                    "isBeta": {
                        "type": "boolean"
                    },
                    "isAdmin": {
                        "type": "boolean"
                    },
                    "email": {
                        "type": "string"
                    }
                }
            },
            "Post": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "postContent": {
                        "type": "string"
                    },
                    "clipId": {
                        "type": "integer"
                    },
                    "image": {
                        "type": "string"
                    },
                    "creatorId": {
                        "type": "string"
                    }
                }
            },
            "Clip": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "source": {
                        "type": "string"
                    }
                }
            },
            "PostLike": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "postId": {
                        "type": "integer"
                    },
                    "personalInfoId": {
                        "type": "integer"
                    }
                }
            }
        },
        "links": {},
        "callbacks": {}
    },
    "security": []
}
